@using MultiShopp.ViewModels.ProductImage;
@model CreateProductImageVM
<form class="forms-sample">
    <div class="form-group">
        <label for="exampleInputUsername1">
            ImageUrl
        </label>
        <input asp-for="ImageUrl" type="text" class="form-control" placeholder="ImageUrl">
    </div>
    <button type="submit" class="btn btn-primary me-2">Submit</button>
    <button class="btn btn-light">Cancel</button>
</form>